<div class="center jumbotron">
    <h1>Welcome to the TODO App</h1>

    <h2>
      See the source code on 
      <a href="https://github.com/WR-96/mh-todo_app">GitHub</a>
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

